@media (max-width: 900px){
    .blogs-main-new{
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
    }
    .blogs-new-img-container{
        grid-row: 2;
    }
    .blogs-news--img-container img {
        width: 100%;
    }
    .blogs-new-info-container {
        grid-column: 1;
        grid-row: 3;
}
    .blogs-posts--container .blogs-posts-card {
        max-width: 42%;
    }
    .proyects-main-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .profile-main-container .profile-container {
        flex-direction: column;
        align-items: center;
    }
    .blogpost-img-container {
        padding: 0 40px 40px;
    }
}
@media (max-width: 640px){
    header .header__icons-container .icons {
        justify-self: center;
        margin-right: 0;
    }
    nav .nav__logo-container, .nav__logo-container{
        justify-self: center;
        margin-left: 0px;
        margin-right: 0px;
    }
    nav .nav__logo-container img{
        width: 180px;
    }
    .blogs-posts--container .blogs-posts-card {
        max-width: 90%;
        margin-left: 0;
    }
    .proyects-main-container{
        grid-template-columns: 1fr;
    }
    .contact-main-container{
        grid-template-columns: 1fr;
        padding: 20px 0;
    }
    .profile-main-container img {
        width: 270px;
        height: 260px;
        margin-right: 0;
    }
}