:root {
    --white: #FFFFFF;
    --black: #000000;
    --dark: #232830;
    --very-light-pink: #C5C4C4;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --green: #80c8b7;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Roboto', sans-serif;
    min-width: 320px;
    background: linear-gradient(to right, #434343, #212121);
}
html{
    font-size: 62.5%;
}
.grid-container{
    max-width: 980px;
    margin:auto;
}
a {
    text-decoration: none;
    display: inline;
    color:  black;
}
header{
    width: 100%;
    height: 18vh;
}
header .header__icons-container{
    width: 100%;
    height: 50px;
    display: grid;
}

header .header__icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* Con esto lo enviamos al final*/
    justify-self: end;
    margin-right: 50px;
}
header .icons span{
    color: #08fdd8;
}
nav {
    display: grid;
    height: 70px;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
nav .nav__logo-container{
    margin-left: 50px;
}
nav .nav__logo-container img{
    width: 220px;
}
.nav__profile-link{
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
}
nav .nav__profile-link a{
    font-size: 1.2rem;
    padding: 8px 10px;
    letter-spacing: 2px;
    color: #08fdd8;
    border: 1px solid #08fdd8;
}
nav .nav__profile-link a:hover{
    background-color: #08fdd8;
    color: black;
}
.home-main{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    height: 82vh;
    background-image: url('../assets/img/Cover.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-main section{
    display: grid;
    grid-column: 2;
    justify-items: center;    
    margin-top: 80px;
}
.home-main--text{
    font-size: 4rem;
    font-weight: 700px;
    color: white;
    letter-spacing: 10px;
    text-align: center;
}
.home-main-button{
    width: 140px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #08fdd8;
    text-align: center;
}
.home-main-button a {
    font-size: 1.4rem;
    font-weight: 700;
    padding: 4px 8px;
    letter-spacing: 2px;
    color: #08fdd8;
}
.home-main-button:hover{
    box-shadow:0px 0px 10px 4px #08fdd8;
    color: black;
}
.blogs-main{
    display: grid;
}
.blogs-news--container{
    background-color: #dfe3e9;
    padding: 0 50px 40px;
}
.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}
.blogs-news--container h3{
    font-size: 1.8rem;
    letter-spacing: 2px;
    font-weight: 900;
}
.blogs-news--img-container{
    grid-column: 1;
    margin: 0;
}
.blogs-news--img-container img{
    width: 85%;
}
.blogs-news-info-container h2{
    font-size: 2.4rem;
    font-weight: 900;
    letter-spacing: 2px;
}
.blogs-news-info-container p{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 35px;
}
.blogs-button{
    font-size: 1.2rem;
    padding: 10px 15px;
    border: 1px solid var(--green);
}
.blogs-posts--container{
    padding: 0 50px 40px;
}

.blogs-posts--container h3{
    font-size: 2rem;
    letter-spacing: 2px;
    text-align: center;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 20px;
}
.blogs-posts-card{
    display: inline-block;
    max-width: 28%;
    height: auto;
    margin-left: 16px;
    padding: 12px 12px 30px 12px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 8px;
}
.blogs-posts--container .blogs-posts-card img{
    width: 100%;
}
.blogs-posts--container h2{
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.blogs-posts--container p{
    font-size: 1.4rem;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 35px;
}
footer{
    width: 100%;
    height: 60px;
    border-top: 40px solid var(--green);
    text-align: center;
}
footer p{
    color: white;
    margin-top: 30px;
}
.blogpost-img-container{
    padding: 40px;
}
.blogpost-img-container img{
    width: 100%;
}
.blogpost-main-container {
    padding: 0 50px 40px;
}
.blogpost-main-container h3 {
    padding-bottom: 20px;
    font-size: 1.8rem;
    letter-spacing: 2px;
    border-bottom: 1px solid #cdd2da;
    color: #cdd2da;
}
.blogpost-main-container article h1{
    font-size: 3.6rem;
    letter-spacing: 2px;
    color: #cdd2da;
}
.blogpost-main-container p{
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 24px;
    color: #cdd2da;
}
.contact-main-container{
    width: 100%;
    min-height: 240px;
    background-color: #dfe3e9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.contact-left,
.contact-right{
    display: flex;
}
.contact-main-container img{
    width: 80px;
    padding-right: 10px;
}
.contact-main-container a{
    font-size: 1.2rem;
    font-weight: 700;
    padding-bottom: 4px;
    letter-spacing: 2px;
    border-bottom: 1px solid black;
}
.contact-main-container p{
    width: 240px;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 16px;
}
.profile-main-container{
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 50px 50px;
    background-color: #e6e9ed;
}
.profile-main-container img{
    width: 300px;
    height: 300px;
    margin-right: 30px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-main-container .profile-container{
    display: flex;
}
.profile-main-container p{
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 35px;
}
.profile-container h2{
    font-size: 2.4rem;
    font-weight: 900;
    letter-spacing: 2px;
}
.profile-main-proyects{
    padding: 0 50px 40px;
}
.profile-main-proyects h3{
    font-size: 2.4rem;
    letter-spacing: 2px;
    color: white;
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
}
.proyects-main-container{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    gap: 40px
}
.proyect-container{
    background-color: white;
    border-radius: 20px;
}
.proyect-container img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.proyect-container h4{
    padding: 0px 20px;
    font-size: 2rem;
}
.proyect-container p{
    padding: 0 20px;
    font-size: 1.6rem;
    letter-spacing: 2px;
    line-height: 24px;
}